@{
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <br /><br />
    <div>
        <h2>Bienvenido al Sistema de Venta y Credito.</h2>
        <p>Esta es la pantalla de inicio del Administrador, donde podra realizar el mantenimiento de 4 tablas principales</p>
        <ul>
            <li>Empleados</li>
            <li>Productos</li>
            <li>Clientes</li>
            <li>Usuarios</li>
        </ul>
    </div>
</body>
</html>
